  p{
        font-family:Arial;
        margin-top:0px;
        margin-bottom:px;
    }
.video-title{
 font-family:Arial;
 font-weight:bold;
 font-size:18px;
 width:280px;
 line-height:24px;
 margin-bottom:5px;

}
.video-status{
    font-family:Arial;
    font-size:14px;
    color:grey;
    
    margin-bottom:20;
}
.video-author{
    font-family:Arial;
    font-size:14px;
    color:grey;
   margin-bottom:0;
}
.video-description{
    font-family:Arial;
    font-size:14px;
    color:grey;
   margin-bottom:100px;
    width:280px;
    line-height:22px;
}
.apple-text{
    margin-bottom:50px;
    font-size:14px;
    background-color:rgb(227,65,64);
    color:white;
    text-align:center;
    padding:18px;
    
}

.span-example{
      margin-left:12px;
   
    color:red;
}
 .span-example:hover{
    text-decoration:underline;
   
   }
   .shop-link{
       cursor:pointer;
   }
.shop-link:hover{
        text-decoration:underline;
       }